.header {
    margin-bottom: 1.5rem;
}

h1,
h2 {
    margin: 0;
}

h1 {
    margin-bottom: 0.5rem;
    color: #211951;
}

h2 {
    padding-bottom: 0.2rem;
    border-bottom: 2px solid #15F5BA;
    color: #211951;
}

h3 {
    margin: 0;
    margin-bottom: 1rem;
    color: #211951;
}

#input-line {
    height: 2rem;
    display: grid;
    grid-template-columns: 75% 20%;
    justify-content: space-between;
}

input[type="text"],
input[type="submit"] {
    border-radius: 0.5rem;
    font-family: 'Nokora', sans-serif;
}

input[type="text"] {
    padding-left: 0.5rem;
    border: 2px solid #15F5BA;
    font-size: 1rem;
}

input[type="submit"] {
    border: none;
    background-color: #211951;
    color: #15F5BA;
    font-weight: bold;
    font-size: 0.7rem;
    cursor: pointer;
    text-align: center;
}

ul {
    padding-left: 0;
}

li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0.5rem 0rem 0.5rem 0.6rem;
    margin: 0.5rem 0;
    border: 1px solid #000;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #211951;
    color: #15F5BA;
    text-transform: capitalize;
}

span {
    font-size: 0.8rem;
    display: grid;
    place-content: center;
    padding: 0 0.6rem;
}

@media (max-width: 600px) {
    input[type="submit"] {
        font-size: 0.6rem;
    }
}