.header {
    margin-bottom: 1.5rem;
}

h1,
h2 {
    margin: 0;
}

h1 {
    margin-bottom: 0.5rem;
    color: #211951;
}

h2 {
    padding-bottom: 0.2rem;
    border-bottom: 2px solid #15F5BA;
    color: #211951;
}

h3 {
    margin: 0;
    margin-bottom: 1rem;
    color: #211951;
}

#input-line {
    height: 2rem;
    display: grid;
    grid-template-columns: 75% 25%;
}

input[type="text"],
input[type="submit"] {
    border-radius: 0.5rem;
    font-family: 'Nokora', sans-serif;
}

input[type="text"] {
    padding-left: 0.5rem;
    border: 2px solid #15F5BA;
    font-size: 1rem;
}

input[type="submit"] {
    width: 5rem;
    height: 2rem;
    margin: auto;
    border: none;
    background-color: #211951;
    color: #15F5BA;
    font-weight: bold;
    font-size: 0.7rem;
    cursor: pointer;
    text-align: center;
}

ul {
    padding-left: 0;
}

div.task-li {
    display: grid;
    grid-template-columns: 75% 25%;
}

li {
    height: 2rem;
    padding: 0 1rem;
    margin: 0.4rem 0;
    background-color: #211951;
    color: #15F5BA;
    border-radius: 0.5rem;
    list-style: none;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

span {
    font-size: 0.8rem;
    text-align: end;
}

#button {
    width: 2rem;
    height: 2rem;
    background-color: #15F5BA;
    color: #211951;
    font-weight: bold;
    margin: auto;
    border: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

img {
    width: 0.8rem;
    height: 0.8rem;
}

@media (max-width: 600px) {
    input[type="submit"] {
        font-size: 0.6rem;
        width: 3.5rem;
    }
}