@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap');

:root {
    font-family: 'Nokora', sans-serif;
    background-color: #F0F3FF;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

#root {
    width: 40%;
    margin-top: 5rem;
}